@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.logo {
    padding-bottom: 50px;
    padding-top: 80px;
    text-align: center;

}

.logo h1 {
    font-family: "Oi", serif;
    font-weight: 400;
    font-style: normal;
    color: #5CDB95;
    letter-spacing: 4%;
    padding-top: 10px;
    font-size: 100px;
}

.logo p {
    color: white;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.info {
    text-align: center;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 100px;
}

.info .p1 {
    font-size: 30px;
    padding-bottom: 60px;
}

.info .p2 {
    font-size: 25px;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 30%;
    opacity: 0.8;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 63px;
    height: 211px;
    padding-bottom: 150px;
}

.cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 233px;
    height: 211px;
    background-color: #c73b3b;
    border-radius: 30px;
    color: white;
    font-family: "Cormorant Upright", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    transition: 0.3s ease;
    background: rgba(255, 0, 76, 0.336);
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
}

.cards .card img {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cards .card p {
    font-size: 24px;
    width: 189px;
    margin: 0 0;
}

body::before,
body::after {
    content: "";
    position: absolute;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    filter: blur(160px);
    opacity: 0.35;
    z-index: -1;
}

/* Бирюзовое свечение */
body::before {
    top: -300px;
    left: -200px;
    background: rgba(0, 255, 200, 0.6);
}

/* Фиолетово-розовое свечение */
body::after {
    bottom: -350px;
    right: -200px;
    background: rgba(130, 0, 255, 0.45);
}

.bg-center {
    position: absolute;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background: rgba(0, 150, 255, 0.45);
    filter: blur(200px);
    opacity: 0.25;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.text {
    text-align: center;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 100px;
    font-size: 24px;
}

.subjects p {
    text-align: center;
    color: white;
    font-family: "Philosopher", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
    font-size: 20px;
}

.subjects {
    display: grid;
    gap: 70px;
    grid-template-columns: 160px 160px 160px 160px 160px;
    grid-template-rows: 160px 160px;
    justify-content: center;
    place-items: center;
}

.subjects p {
    width: fit-content;
}

.subject {
    width: 160px;
    height: 160px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    transition: 0.3s ease;
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);
    border-radius: 18px;
    color: white;
    flex-direction: column;
}

.subject:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px 1px rgb(255, 255, 255);
}

.subject img {
    margin-bottom: 20px;
}